<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catatanku">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Izin untuk Android 12 (API 32) dan di bawahnya -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- tools:ignore ditambahkan untuk kejelasan -->
    <!-- Izin untuk Android 13 (API 33) dan di atasnya. Tidak perlu duplikat. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEditNoteActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoteDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>